body {
    font-family: sans-serif;
    margin: 0;
  padding: 0;
  }

  .topimg{
    background-image: url('../src/img/Rectangle.png'); 
    background-size: cover !important;
    height: 280px !important;
}
.custom-nav {
    display: flex;
    justify-content: space-between;
  }
  
  .custom-nav-item {
    margin-left: auto;
  }

  .nav-pills .nav-link.active {
    background-color: #8B4513 !important; 
    color: #ffffff !important; 
    border-radius: 20px;
  }
  .nav-pills .nav-item .nav-link:hover {
    background-color: #3d1807 !important; 
    color: #ffffff; 
  }

  h1 {
    font-weight: bold !important;
    padding: 20px !important; 
    color: rgb(11, 1, 1) !important;
  }

  .bt{
    width: 100px;
    text-align: center;
    color: black;
    height: 50px;
    border-radius: 30px;
    margin-left: 90px;
    background-color: #C1ACA2;
  }

  .phara{
    margin-left: 90px;
  }

  .down{
    margin-top: 50px;
    font-size: 30px;
  }

  .bt:hover{
    background-color: #8B4513 ;
    color: #ffffff;
  }

  .bottom-right {
    position: absolute;
    bottom: 50px;
    right: 10px;
    margin-right: 80px;

}

.bts{
    width: 100px;
    text-align: center;
    color: black;
    height: 50px;
    border-radius: 30px;
    margin-left: 50px;
    background-color: #C1ACA2;
}