.topimg{
    background-image: url('../src/img/Rectangle\ 28.png'); 
    background-size: cover !important;
    height: 280px !important;
}
.custom-nav {
    display: flex;
    justify-content: space-between;
  }
  
  .custom-nav-item {
    margin-left: auto;
  }

  .nav-pills .nav-link.active {
    background-color: #8B4513 !important; 
    color: #ffffff !important; 
    border-radius: 20px;
  }
  .nav-pills .nav-item .nav-link:hover {
    background-color: #3d1807 !important; 
    color: #ffffff; 
  }

   /* Add this CSS to your loginPage.css file or your external CSS file */
.image-uploader {
    text-align: right;
    margin: 20px 0;
}

.upload-button {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #070d14; /* Button background color */
    cursor: pointer;
}

.upload-button img {
    width: 60px;
    height: 60px;
    margin: 20px; /* Center the image within the circle */
}

/* Style the file input to be hidden */
input[type="file"] {
    display: none;
}
h1 {
    font-weight: bold !important;
    margin-left: 10px !important; 
    color: rgb(11, 1, 1) !important;
  }

  .button{
    margin-left: 600px !important;
    margin-top: -120px !important;
  }
